<div class="container mt-5 d-flex justify-content-center card bg-dark text-white border-secondary shadow-lg" style="max-width: 450px; border-radius: 15px;">
    <div class="card-body p-4">
        <div class="d-flex justify-content-center  mb-4">
            <h5 class="card-title fw-bold mb-0">Leaderboard</h5>
        </div>
        <form action="/changeSort" method="GET" class="text-end" id="sortType">
            <button class="text-muted small btn">
                {{#if (eq currentSort 'DESC')}} <span>^</span>
                {{else}} <span>v</span>
                {{/if}}
            </button>
        </form>
        {{#each topUsers}}
        <div class="user-row d-flex align-items-center justify-content-between py-3">
            <div class="d-flex align-items-center">
                <div class="fs-5 me-3 text-secondary">
                    {{#if (eq @index 0)}} <span class="text-warning">1</span>
                    {{else if (eq @index 1)}} <span class="text-light">2</span>
                    {{else if (eq @index 2)}} <span class="text-info">3</span>
                    {{else}} {{add @index 1}}
                    {{/if}}
                </div>
                <span class="fs-5 fw-medium">{{this.username}}</span>
            </div>
            <div class="text-end">
                <div class="balance-text fs-5 fw-bold">${{this.balance}}</div>
            </div>
        </div>
        {{else}}
            <div class="text-center text-muted py-4">
                No data available
            </div>
        {{/each}}
    </div>
</div>